DJANGO_SECRET_KEY=django-insecure-g(y8_%v-pcj^_7i4vms#r(7*kez$2+=-hpl8d2y8aq=z^(0))7
DEBUG=True
DJANGO_ALLOWED_HOSTS='localhost 127.0.0.1'
DB_NAME=bookstore
DB_USER=bookstore
DB_PASSWORD=bookstore
DB_HOST=db
DB_PORT=5432